
h2{
    background-color:  #6495ed
}

body {
    background-color:  	#DCDCDC;
}
.person-name{
    padding-left: 400px;
    background-color:  #6495ed
}
.person-contact{
    padding-left: 400px;
}
.profile{
    padding-top: 100px;
    padding-left:50px;
    
}